.header {
  margin-top: 0px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 5px black;
  text-transform: uppercase;
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 10px;
    object-fit: cover;
}